.container{
text-align: center;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
background-image: radial-gradient(circle,rgb(150, 17, 17),rgb(88, 88, 228));
}


.card-wrap{
border: 1px solid;
margin: 1rem;
padding: 1rem;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: space-between;
width: 500px;
box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
25px 25px 0px 0px #e1eeff, 5px 5px 27px 5px rgba(255, 253, 181, 0);

background-image: radial-gradient(
    circle,
    #f0edda,
    #d2e6d1,
    #b1ddd4,
    #99d2df,
    #9ac1e5)
}
    
.icon{
width: 30px;
}
    
.profil-pic{
border-radius: 50%;
}

.pic-name{
display: flex;
justify-content: space-evenly;
align-items: center;
}

.par-container{
display: flex;
justify-content: space-evenly;
}

.par {
width: 50%;
font-size: 1.2rem;
}

.button{
border: none;
border-radius: 3px;
background-color: #289fed;
color: white;
padding: 1rem;
font-size: 1.3rem;
cursor: pointer;
margin: 25px;
transition: all 0.5s ease-in-out;
}

button:hover {
background-color: #ededd9;
color: black;
  }
